* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0%;
}

a {
  color: #fff;
}

body {
  font-family: "MyriadPro";
}

.invisible {
  opacity: 0;
}

.container {
  padding: 0;
  width: 1495px;
  margin: 0 auto;
}