@media screen and (min-width: 1800px) {
  .slider_inner {
    .slider_arrows-left {
      left: 11%;
    }
    .slider_arrows-right {
      right: 11%;
    }
  }
}
@media screen and (max-width: 1500px) {
  .container {
    width: 1480px;
  }
  
  .product_list-item {
    max-width: 16.666%;
  }
}
@media screen and (max-width: 1400px) {
  .container {
    width: 1380px;
  }
  
  .product_list-item {
    max-width: 16.666%;
  }
}
@media screen and (max-width: 1367px) {
  .container {
    width: 1300px;
  }
  .menu_btn {
    margin-right: 45px;
  }
  
  .header .header_inner #close_btn {
    margin-right: 60px;
  }
  .header .header_inner .header_logo {
    height: 43px;
    width: 180px;
    margin-right: 31px;
  }
  .header_nav {
    menu {
      margin-right: 20px;
      li {
        a {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }
  .header_form-search input {
    font-size: 18px;
  }
  .header_contacts .tel {
    font-size: 18px;
  }
  .dropdown_menu a {
    font-size: 16px;
    line-height: 24px;
  }
  .product_list-inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 0 auto;
    width: 90vw;
  }
  .product_list-item {
    border: none;
    min-width: 100%;
    text-align: center;
    border: 1px solid #E5E6E7;
    border-bottom: none;
  }
  .product_list-item:not(:last-child) {
    // border-right: none;
  }
  .product_list-item:first-child {
    border-left: 1px solid #E5E6E7;
  }
}
.footer_info-row {
  max-width: 300px;
  margin-right: 110px;
}
.footer_row-link {
  font-size: 17px;
}
