@media screen and (min-width: 1800px) {
  .container {
    width: 1600px;
    padding: 0 15px;
  }

  .slider_inner {
    .slider_arrows-left {
      left: 11%;
    }

    .slider_arrows-right {
      right: 11%;
    }
  }

  .popular_products-list .popular_products-item .popular_item-icon_like {
    left: 33.8%;
  }
}

@media screen and (max-width: 1500px) {
  .container {
    width: 1350px;
  }

  .header .header_inner .header_logo {
    height: 43px;
    width: 180px;
    margin-right: 31px;
  }

  .header_nav {
    menu {
      margin-right: 20px;

      li {
        a {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }
  
  .popular_products-list .popular_products-item .popular_item-icon_like {
    left: 30.5%;
  }

  .product_list-inner {
      grid-template-columns: 1fr 1fr 1fr;
  }
  .product_list-item {
      border: none;
      min-width: 100%;
      text-align: center;
      border: 1px solid #E5E6E7;
      border-bottom: none;
    }
  
    .product_list-item:first-child {
      border-left: 1px solid #E5E6E7;
    }
}

@media screen and (max-width: 1400px) {
  .container {
    width: 1300px;
  }

  .menu_btn {
    margin-right: 45px;
  }

  .header .header_inner #close_btn {
    margin-right: 60px;
  }

  .header .header_inner .header_logo {
    height: 43px;
    width: 180px;
    margin-right: 31px;
  }

  .header_nav {
    menu {
      margin-right: 20px;

      li {
        a {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }

  .header_form-search input {
    font-size: 18px;
  }

  .header_contacts .tel {
    font-size: 18px;
  }

  .dropdown_menu a {
    font-size: 16px;
    line-height: 24px;
  }

  .product_list-item {
    max-width: 16.666%;
  }
}

@media screen and (max-width: 1367px) {
  .container {
    width: 1200px;
  }

  .menu_btn {
    margin-right: 45px;
  }

  .header .header_inner #close_btn {
    margin-right: 60px;
  }

  .header .header_inner .header_logo {
    height: 40px;
    width: 180px;
    margin-right: 25px;
  }

  .header_nav {
    menu {
      margin-right: 20px;

      li {
        margin-right: 10px;

        a {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }

  .header_form-search input {
    font-size: 18px;
  }

  .header_contacts .tel {
    font-size: 18px;
  }

  .dropdown_menu a {
    font-size: 16px;
    line-height: 24px;
  }

  .product_list-inner {
    display: grid;
    margin: 0 auto;
  }

  

  .popular_products-list .popular_products-item .popular_item-icon_like {
    left: 27.5%;
  }
}

.footer_row-link {
  font-size: 17px;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 1140px;
  }

  .dropdown_hidden-menu {
    display: block;

    li {
      margin-bottom: 10px;

      a {
        transition: all .2s;

        &:hover {
          color: $green;
        }
      }
    }
  }

  .header_inner {
    justify-content: space-between;

    menu {
      display: none;
    }

    .header_contacts,
    .header_callback-btn {
      display: none;
    }

    .hello {
      display: block;
      color: #ffffff;

      .name {
        color: $green;
      }
    }

    .header_tools {
      align-items: center;
    }

    .header_tools-account {
      display: block;
      margin-right: 30px;
    }
  }

  .slick-dots {
    max-width: 50px;
  }

  .product_list-inner .slick-dots li  {
      display: inline-block;
   }
  .slick-dots li button {
    width: 8px;
    height: 8px;
  }

  .slider_item-1-btn,
  .slider_item-3-btn {
    left: 0;
    right: 0;
    margin: auto;
    bottom: 12%;
  }

  .slider_item-2-btn {
    left: 27.3%;
    bottom: 28%;
  }


  .popular_products-list .popular_products-item .popular_item-icon_like {
    left: 26%;
  }
}

@media screen and (max-width: 1110px) {
  .container {
    width: 900px;
  }

  .slider_inner .slick-arrow {
    display: none !important;
  }

  .slider_btn {
    width: 130px;
    height: 40px;
    padding: 11px 30px 11px 15px;
    font-size: 12px;

    svg {
      width: 20px;
      top: 8px;
      right: 10px;
    }
  }

  .discount_items-inner {
    flex-wrap: wrap;

    .discount_item {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  .discount_items-inner img {
    height: 70%;
  }

  .popular_products-list .popular_products-item .popular_item-icon_like {
    left: 17.5%;
  }

  .footer_top {
    flex-wrap: wrap;

    .footer_info {
      justify-content: space-between;
      display: flex;
      min-width: 100%;
      margin-bottom: 30px;

      .footer_logo {
        display: block;
        margin: 0;
      }

      .footer_info-location {
        display: none;
      }

      .footer_info-media {
        display: block;
        margin-bottom: 10px;
        line-height: 24px;
        max-width: 300px;
      }

      .footer_info-schedule {
        display: none;
      }

      .footer_info-email {
        display: block;
        margin-bottom: 10px;
      }
    }
  }

  .footer_bottom-right {
    width: 50%;
  }

}

@media screen and (max-width: 910px) {
  .container {
    width: 870px;
  }

  .popular_products-list .popular_products-item .popular_item-icon_like {
    left: 16%;
  }
}

@media screen and (max-width: 880px) {
  .container {
    width: 760px;
  }

  .header_inner .hello {
    display: none;
  }

  .slider_btn {
    width: 120px;
    height: 35px;
    padding: 9px 30px 11px 15px;
    font-size: 12px;

    svg {
      width: 18px;
      top: 6px;
      right: 10px;
    }
  }

  .dropdown_menu-main,
  .dropdown_menu-row {
    max-width: 280px;
  }

  .dropdown_added-hidden_list {
    display: block;

    li {
      margin-bottom: 10px;
    }
  }

  .dropdown_added-list {
    display: none;
  }

  .dropdown_added-tel {
    display: block;
    margin: 20px 0 10px 0;
    color: $green;
  }

  .popular_products-list .popular_products-item .popular_item-icon_like {
    left: 10%;
  }

  .popular_item-img {
    img {
      width: 70%;
    }
  }
}

@media screen and (max-width: 770px) {
  .container {
    width: 720px;
  }

  .header {
    min-height: 60px;
    display: flex;
  }

  .header .header_inner .header_logo {
    height: 36px;
    width: 160px;
    margin: 0 auto;
  }

  .header .header_inner .header_form-search {
    display: none;
  }

  .slider_btn {
    width: 200px;
    height: 50px;
    font-size: 18px;
    padding: 15px 30px 15px 15px;
    svg {
      top: 24%;
      right: 15%;
    }
  }
  .slider_item {
    height: 105vh;
    .dekstop_slider {
      display: none;
    }
    .media_slider {
      display: block;
    }
  }
  .dropdown_menu-inner {
    flex-direction: column;
  }

  .dropdown_menu-main,
  .dropdown_menu-row {
    max-width: 180px;
  }

  .dropdown_form-search form {
    width: 100%;
    position: relative;

    button {
      position: absolute;
      right: 7%;
      top: 33%;
    }
  }

  .dropdown_menu-row,
  .dropdown_menu-main {
    order: 2;
  }

  .dropdown_added-tel {
    order: -1;
  }

  .dropdown_form-search {
    display: block;
  }

  .dropdown_form-search input {
    background-color: #333640;
    border: none;
    width: 100%;
    padding: 15px 100px 15px 40px;

  }

  .product_list {
    border-bottom: 1px solid #E5E6E7;
  }
  .product_list-item:first-child {
    border: none;
  }
  .product_list-item {
    border: none;
  }
  .popular_products {
    border-top: none;
    background: 0 0;
    margin-top: 60px;
  }
  .popular_products-title {
    padding-top: 0;
  }
  .popular_products-list {
    flex-direction: column;

    .popular_products-item {
      min-width: 100%;
    }
  }

  .popular_products-list .popular_products-item .popular_item-icon_like {
    left: 38.5%;
  }

  .product_list-inner {
    display: flex;

    img {
      margin: 0 auto;
      width: 190px;
    }
  }

  .footer_row {
    margin-left: 0px;
  }

  .footer_bottom-inner {
    flex-direction: column;
  }

  .footer_bottom-left {
    width: 100%;
    flex-direction: column;
  }

  .footer_bottom-right {
    width: 100%;
    flex-direction: column;
    align-content: center;
  }
}

@media screen and (max-width: 720px) {
  .container {
    width: 640px;
  }

  .header_form-search form {
    display: none;
  }

  .dropdown_form-search input {
    padding: 15px 60px 15px 50px;
  }

  .popular_item-img img {
    width: 70%;
  }

  .footer_info-rows {
    grid-template-columns: 1fr 1fr;
  }
  .popular_products-list .popular_products-item .popular_item-icon_like {
    left: 37%;
}
}

@media screen and (max-width: 640px) {
  .container {
    width: 540px;
  }

  .header .header_inner .header_logo {
    margin: 0;
  }

  .header_inner .header_tools-account {
    display: none;
  }

  .popular_products-list .popular_products-item .popular_item-icon_like {
    left: 34%;
  }
  
}

@media screen and (max-width: 540px) {
  .container {
    width: 480px;
  }

  .popular_products-list .popular_products-item .popular_item-icon_like {
    top: 15%;
    left: 31.5%;
  }

  .footer_info {
    flex-direction: column;
  }

  .footer_top .footer_info .footer_logo {
    margin: 0 auto 30px auto;
  }
  .popular_products-button {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 420px;
    padding: 0 15px;
  }
  
  .popular_products-button {
    font-size: 12px;
    width: 200px;
    svg {
      right: 12px;
    }
  }
  .popular_products-list .popular_products-item .popular_item-icon_like {
    left: 27.5%;
}
}
@media screen and (max-width: 420px) {
  .container {
    width: 400px;
    padding: 0 15px;
  }
  .slider_item {
    height: 137vw;
  }
  .slider_btn {
    width: 120px;
    height: 35px;
    padding: 9px 30px 11px 15px;
    font-size: 12px;

    svg {
      width: 18px;
      top: 6px;
      right: 10px;
    }
  }
  .discount_items-inner img {
    height: 60%;
}

.header .header_inner .header_logo {
  height: 37px;
  width: 160px;
}

.header_inner .header_tools {
  margin-left: 10px;
}

.footer_row-link {
  font-size: 14px;
}

.discount_items .container {
  width: 320px;
  padding: 0;
}

.discount_items-inner .discount_item {
  height: 200px;
}

.discount_items-inner .discount_item-text {
  padding: 40px 10px 5px 10px;
  max-width: 80%;
}

.discount_items-inner .discount_item:first-child::before,
.discount_items-inner .discount_item:last-child::before {
  left: 10px;
  width: 40px;
  height: 30px;
  font-size: 10px;
  padding: 10px;
}

.discount_items-inner .discount_item:first-child::before {
  font-size: 16px;
  padding: 5px;
}

.discount_items-inner .discount_item-price {
  font-size: 14px;
  margin-bottom: 0;
}

.discount_items-inner .discount_item-title {
  font-size: 20px;
  margin-bottom: 0;
}

.discount_items-inner .discount_item-link {
  font-size: 10px;
  padding: 5px 10px;
}

.discount_items-inner .discount_item-description {
  font-size: 8px;
  margin-bottom: 3px;
}

.popular_products-list .popular_products-item .popular_item-icon_like {
  left: 25.5%;
}

.footer_bottom .container {
  width: 320px;
  padding: 0;
}
}
@media screen and (max-width: 400px) {
  .container {
    width: 360px;
  }
  .slider_btn {
    svg {
      right: 2px;
    }
  }
  .popular_products-list .popular_products-item .popular_item-icon_like {
    left: 22.5%;
}
}
@media screen and (max-width: 360px) {
  .container {
    width: 320px;
  }
  .header .header_inner .header_logo {
    height: 30px;
    width: 160px;
  }
  .popular_products-list .popular_products-item .popular_item-icon_like {
    left: 17.5%;
}
 }
@media screen and (max-width: 320px) {
  .container {
    width: 300px;
    padding: 0 10px;
  }
  .header .header_inner .header_logo {
    height: 28px;
  }
  .popular_products-list .popular_products-item .popular_item-icon_like {
    left: 15.5%;
  }
}
