@media screen and (min-width: 1800px) {
  .slider_inner {
    .slider_arrows-left {
      left: 11%;
    }
    .slider_arrows-right {
      right: 11%;
    }
  }
}
@media screen and (max-width: 1367px) {
  .container {
    width: 1300px;
  }
  .menu_btn {
    margin-right: 45px;
  }
  
  .header .header_inner #close_btn {
    margin-right: 60px;
  }
  .header .header_inner .header_logo {
    height: 38px;
    width: 180px;
    margin-right: 31px;
  }
  .header_nav {
    menu {
      margin-right: 20px;
      li {
        a {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }
  .header_form-search input {
    font-size: 18px;
  }
  .header_contacts .tel {
    font-size: 18px;
  }
  .dropdown_menu a {
    font-size: 16px;
    line-height: 24px;
  }
}
